# Python virtual environment
venv/
env/
.env/
.venv/
zanan-backend/venv

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.idea/
.vscode/


# Local configuration files
zanan-backend/src/config_local.py

queries/
storage/